#canvas1 {
    border:5px solid black;
    position:absolute;
    top:50%;
    left: 50%;
    translate: -50% -50%;
    background: url('background.png')
}

#beetlemorph, #lobstermorph, #player, #player_jets, #rhinomorph, 
#squidmorph, #eaglemorph, #enemyProjectile, #boss, #boss8 {
    display: none
}