#canvas1 {
    border:5px solid black;
    position:absolute;
    top:50%;
    left: 50%;
    translate: -50% -50%;
    background: url('background.png')
}

#beetlemorph, #player, #player_jets, #rhinomorph {
    display: none
}